body{
    background: url(Bground.jpg) no-repeat center center fixed;
    background-size: cover;
}

.box1 {
    color: white;
    width: fit-content;
    height: fit-content;
    margin-left: 400px;
    margin-top: 150px;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box2 {
    color: white;
    width: fit-content;
    height: fit-content;
    margin-left: 400px;
    margin-top: 5px;
    font-size: 15px;
    font-style: italic;
    text-decoration: underline wavy white;
    text-decoration-thickness: 1px;
}